body {
  background: #000000;
  /* background-image: url('../../public/background.jpeg'); */
  margin: 0;
}

.spin--icon {
  animation: spinspin 0.8s infinite linear;
}

@keyframes spinspin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}